<p id="notice"><%= notice %></p>

<h1>Churritos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Sabor</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @churritos.each do |churrito| %>
      <tr>
        <td><%= churrito.nombre %></td>
        <td><%= churrito.sabor %></td>
        <td><%= churrito.precio %></td>
        <td><%= link_to 'Show', churrito %></td>
        <td><%= link_to 'Edit', edit_churrito_path(churrito) %></td>
        <td><%= link_to 'Destroy', churrito, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Churrito', new_churrito_path %>
